:root {
  --Neutral-Dark: #223263;
  --Primary-Blue: #40bfff;
  --Neutral-Grey: #9098b1;
  --Primary-Red: #fb7181;
  --Background-White: #fff;
  --Background-Black: #000;
  --Footer-BgClr: #bcddfe;
  --Main-Text_Clr: #262626;
  --Primary-Sky: #33a0ff;
  --Neutral-Light: #ebf0ff;
  --Main-Card-Bg: #f6f6f6;
  --Main-Card-Hover-Bg: #7b6c6c;
  --Footer-bg: #bcddfe;
}

.dark_theme {
  --Background-Black: #fff;
  --Main-Text_Clr: #fff;
  --Background-White: #403b3b;
  --Neutral-Dark: #fff;
  --Neutral-Grey: #fff;
  --Footer-bg: #4d3434;
}
